## SELIC ##

Entendendo a movimentação da taxa básica de juros da economia do Brasil durante o tempo.

In [1]:
# instalação das bibliotecas a serem utilizadas
!pip install pandas
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /var/data/python/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /var/data/python/lib/python3.12/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /var/data/python/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /var/data/python/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /var/data/python/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /var/data/python/lib/python3.12/site-packages (2.2.1)

Exploração de dados

In [15]:
# Lendo uma amostra dos dados
import pandas as pd
import numpy as np

df = pd.read_csv("taxa_selic_apurada.csv", sep=";", skiprows=1)
df.head()

,Data,Taxa (% a.a.),Fator diário,Financeiro (R$),Operações,Média,Mediana,Moda,Desvio padrão,Índice de curtose,Unnamed: 10
0,23/12/2024,"12,15","1,00045513","1.455.009.268.971,92",424,"12,15","12,15","12,15","0,033","3.412,519",NaN
1,20/12/2024,"12,15","1,00045513","1.670.269.263.891,6",882,"12,15","12,14","12,15","0,035","3.447,975",NaN
2,19/12/2024,"12,15","1,00045513","1.687.156.779.798,47",869,"12,15","12,14","12,15","0,032","4.043,527",NaN
3,18/12/2024,"12,15","1,00045513",1.701.619.618.480,894,"12,15","12,14","12,15","0,032","4.177,343",NaN
4,17/12/2024,"12,15","1,00045513","1.726.824.557.657,58",862,"12,15","12,14","12,15","0,036","3.540,887",NaN

In [3]:
# Restringindo series.
df1 = df.iloc[:, 0:2]
df1.head()

         Data Taxa (% a.a.)
0  23/12/2024         12,15
1  20/12/2024         12,15
2  19/12/2024         12,15
3  18/12/2024         12,15
4  17/12/2024         12,15

In [4]:
# Verificando o tipo das series
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           248 non-null    object
 1   Taxa (% a.a.)  248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

Conversão das series

In [6]:
# Substitindo as vírgulas para ponto
df1["Taxa (% a.a.)"] = df1["Taxa (% a.a.)"].str.replace(",", ".")

In [7]:
# Convertendo o tipo de string para float
df1["Taxa (% a.a.)"] = df1["Taxa (% a.a.)"].astype(float)

In [12]:
df1.Data = pd.to_datetime(df1.Data)

In [13]:
# Certificando a veracidade da conversão do tipo dos campos
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           248 non-null    datetime64[ns]
 1   Taxa (% a.a.)  248 non-null    float64
 2   Ano            248 non-null    int32
 3   Mes            248 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(2)
memory usage: 5.9 KB

Adicionando mais dois campos ao DataFrame

In [9]:
# Adicionando duas colunas - "Ano" e "Mes"
df1["Ano"] = df1["Data"].dt.year
df1["Mes"] = df1["Data"].dt.month

In [10]:
df1.head()

        Data  Taxa (% a.a.)   Ano  Mes
0 2024-12-23          12.15  2024   12
1 2024-12-20          12.15  2024   12
2 2024-12-19          12.15  2024   12
3 2024-12-18          12.15  2024   12
4 2024-12-17          12.15  2024   12

Agrupamento para analisar a oscilação durante os meses

In [11]:
tx_mensal = df1.groupby(["Mes", "Taxa (% a.a.)"]).mean
print(tx_mensal)

<bound method GroupBy.mean of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7facb7237110>>